-# coding: utf-8
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nysnö</title>

<!--<link href="reset.css" type="text/css" rel="stylesheet" />-->
<link href="build/style.css" type="text/css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
<script src="lib/jquery.js"></script>
<script src="lib/jquery-ui-1.9pre.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/jquery.tmpl.js"></script>
<script src="lib/xml2json.js"></script>

<script src="build/main.js"></script>


</head>
%body

  #flip
    .front
      .header
        %h1 NYSNÖ
        %h2 Symbolstödd nyhetstext på webben

      #nav
        %ol
          %li Hem
          %li 
            %a(href="about.html") Om Nysnö
          %li 
            %a(href="contact.html") Kontakt

      #content
        %p.expl Här kan du få en text översatt till symboler. Välj vilket språk texten är på och vilket symbolstöd du vill ha. Du kan gå till 8 sidor för att hämta din artikel eller skriva din egen text. Tryck på översätt när du har en text i rutan.
        %form
          %textarea(rows="15")
          %select#lang_select
            %option{:value => ""} Symbolspråk
            %option{:value => "bliss"} Bliss
            %option{:value => "aras"} ARASAAAC
          %input.send(type="submit" value="Översätt")
          %input#get_article(type="submit" value="Gå till 8 SIDOR")
          %div(style="clear:both;")
        #result

    .back
      .corner
      #remote
        %iframe{:src => "http://demo.spraakdata.gu.se/cgi-bin/johanrox/proxy.py"}
  #footer

  :plain
    <script id="wordTmpl" type="text/x-jquery-tmpl">
      <div>
        <div><img src="${$item.lang}/${lex[0]}"></div>
        <div>${text}</div>
      </div>
    </script>



</html>